<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
  <Appenders>
	  <Console name="Console" target="SYSTEM_OUT"> 
	    <PatternLayout pattern="%d{ISO8601} %highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} [%t] %c: %m%n" />
	  </Console> 
  </Appenders>
  <Loggers>
	  <Root level="debug">
	    <AppenderRef ref="Console" />
	  </Root>
  </Loggers>
</Configuration>
<!-- see http://logging.apache.org/log4j/2.x/manual/configuration.html -->